/* ---------------------------общее-------------------------- */
.nav{
  background-color: rgba(0, 0, 0, 0.116);
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 98%;
  flex-wrap: wrap;
}
.link{
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.centerDiv{
  display: flex;
  justify-content: center;
  text-align: center;
}

.centerDivColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #CD104D;
  font-size: 30px;
  text-align: center;
}

/* ---------------------------главная-------------------------- */
.usePromo{
  margin-top: 50px;
  border: 1px solid #9C2C77;
  background-color:#9C2C77 ;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.gift{
  position: absolute;
  bottom: 5px;
  border-bottom: none;
  border-top: none;
}
.imgMain{
  width: 300px;
  height: 450px;
  border:solid #FD841F 1px;
  padding: 20px;
  border-radius: 5px;
}

/* ---------------------------каталог-------------------------- */

.shopDivButtons{
  background-color:rgba(0, 0, 0, 0.116);
  display: flex;
  justify-content: center;
  padding: 5px;
}

.shopButton{
  border: none;
  background-color: #00000000;
  color:black;
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.card{
  background-color: #0000000a;
  border:solid #FD841F 1px;
  border-radius: 5px;
  text-align: center;
  flex:1;
  margin: 10px;
  padding: 10px;
}

.shopAllBtn{
  border: none;
  font-size: 30px;
  background-color: #ffffff00;
  color: #CD104D;
}

.descriptionBtn,.slideBtn{
  color:#9C2C77 ;
  border: 1px solid #9C2C77;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.imgShop{
  width: 300px;
  height: 450px;
}

/* ---------------------------каталог (корзина)-------------------------- */
.korzinaDiv{
  display: flex;
  border-top: 1px solid #FD841F;
  height: 100px;
  align-items: center;
}

.flexOne{
  flex:1;
}

.korzinaBlock{
  display: block;
  color: rgb(0, 0, 0);
  overflow: scroll;
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 1;
}
.korzinaNone{
  display: none;
}

.korzinaBtn{
  position: fixed;
  top:15px;
  right: 15px;
  z-index: 2;
}

input{
  margin: 5px;
}

.deleteBtn{
  font-size: 19px;
  border: none;
  color: #FD841F;
  background-color: #ffffff00;
}
.top{
  margin-top: 50px;
}

.pColor{
  font-size: 20px;
  color: #9C2C77;
  font-weight: bold;
}

/* ---------------------------контакты-------------------------- */
.map{
  border:solid #FD841F 1px;
  padding: 20px;
  border-radius: 5px;
}

/* ---------------------------адаптация-------------------------- */
@media all and (max-width:500px){
  .pColor{
    font-size: 15px;
  }
  .displayAdapt{
    display: flex;
    flex-direction: column;
  }

  .imgMain,.imgShop{
    width: 250px;
    height: 350px;
  }

  .usePromo{
    display: none;
  }

}

@media all and (max-width:380px){
  .shopDivButtons{
    flex-direction: column;
  }
  .displayAdapt{
    display: flex;
    flex-direction: column;
  }
}
